@model IEnumerable<VehicleDto>

<form>
    <div class="container row">
        @foreach(var item in Model){
        <div class="col-2">
            <div class="p-0 my-3 border rounded">
                <div class="card">
                    <h4 class="card-title text-white-50 text-center py-2">@item.Model.Name</h4>
                        <img style="width:185px; height:120px" src="@item.PhotoUrl" class="card-img-top">
                    <div class="card-body">
                        <div class="d-flex justify-content-between py-2">
                                <span class="text-danger" style="font-size:15px;">@string.Format("{0:c}", item.Price)</span>
                            <span class="badge bg-warning text-white p-2">@item.Brand.Name</span>
                        </div>
                            <p class="card-text">@item.Color.Name - @item.FuelType.Name</p>
                        <div class="row">
                            <div class="col">
                                <a asp-action="VehicleDetails" asp-route-vehicleId="@item.Id" class="btn btn-success form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</form>

